<header>
    <h2>ARDS Web App</h2>
    <ul>
    <li><button></button></li>
    <li><button></button></li>
    <li><button></button></li>
    </ul>
    <img id="user-pp"/>
    <label id="user"><%=data.fname%> <%=data.lname%></label>
</header>