<header>
    <h2>ARDS Web App</h2>
    <ul>
    <li><button></button></li>
    <li><button></button></li>
    <li><button></button></li>
    </ul>
    <img id="user-pp" src=<%userPP%>/>
    <<label id="user"><%=user.fname%></label>
</header>