/*/////////////////////////////////////// Main Styles ///////////////////////////// top///*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 18mm;
    background-color: rgba(89, 171, 227, 0.6);
    border-bottom: 0.5mm solid;
    border-bottom-color: rgba(89, 171, 227, 0.3);
    /*box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);*/
}

header h2 {
    float: left;
    margin: 15px 0px 0px 25px;
}

body {
    background-color: #cbcbcb;
    /*rgba(197, 239, 247, 0.8);*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-view {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#user-pp {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    float: right;
    margin: 0.5mm 10mm 0mm 0mm;
    cursor: pointer
}

#user {
    float: right;
    clear: both;
    font-size: 80%;
    font-weight: 600;
    margin: -3.5mm 5.5mm 0mm 0mm;
    cursor: pointer
}

.emp-nav {
    float: right;
    list-style-type: none;
    margin-right: 15mm;
}

.emp-nav li {
    display: inline;
}

.emp-nav li button {
    background: transparent;
    border: none;
    height: 100%;
    width: 24mm;
    cursor: pointer;
}

.emp-nav li button:hover {
    background: rgba(92, 178, 231, 0.7);
}

.emp-nav li button:active {
    background: rgba(92, 178, 231, 0.4);
}

.emp-nav li button:focus {
    outline: none;
}

.emp-nav li button svg {
    width: 26mm;
    height: 15mm;
    fill: rgba(108, 122, 137, 0.6);
}

.user-info-container {
    height: auto;
    padding: 2mm 2mm !important;
    margin: -0.2mm 0mm 0mm 0mm !important;
    position: absolute;
    right: 0;
    top: 18mm;
    clear: both;
    list-style-type: none;
    display: none;
    z-index: 10;
    /*background: rgba(120, 190, 235, 0.6);
    border-color: rgba(120, 190, 235, 0.6);
    box-shadow: 0px 3px 10px rgba(0, 0, 2, 0.3);*/
}

.user-info-container>li {
    margin: 0mm 0mm 2mm 0mm !important;
}

.user-info-container>li>a {
    color: #000;
    text-decoration: none;
}

.user-info-container>li>button {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}


/*/////////////////////////////////////// Main Styles /////////////////////////// bottom///*/


/*////////////////////////////////////////// Login Page Styles ///////////////////////////// top///*/

.loginForm {
    width: 500px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 20vh;
    /* outline: green dashed; */
}

.loginForm>label {
    font-size: 28px;
    font-weight: 600px;
    text-align: center;
    width: 20%;
    display: block;
    margin: auto;
    position: relative;
    top: 5mm;
    /* outline: red solid; */
}

.loginForm table {
    width: 100%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 1.5mm 5mm;
}

.loginForm table tr {
    width: 100%;
    margin-bottom: 100px !important;
}

.loginForm table tr td:first-of-type {
    width: 40%;
    /* outline: blue solid; */
}

.loginForm table tr td {
    width: 60%;
    /* outline: blue solid; */
}

.loginForm table label {
    display: block;
    text-align: right;
    width: 50%;
    font-size: 22px;
    float: right;
    position: relative;
    right: 20px;
}

.loginForm table input {
    width: 100%;
    font-size: 18px;
    height: 32px;
    padding: 5px;
    border: 0.4mm solid;
    border-color: rgba(89, 171, 227, 0.3);
}

.loginForm table input:hover {
    background-color: rgba(228, 241, 254, 0.1);
}

.loginForm button {
    float: right;
    margin-right: 10px;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    background-color: rgba(89, 171, 227, 1);
    transition: background-color 300ms;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: rgba(228, 241, 254, 0.8);
    border: 0.5mm solid;
    border-color: rgba(89, 171, 227, 1);
    color: rgba(89, 171, 227, 1);
}

.loginForm button:active {
    background-color: transparent;
}

.loginForm button:focus {
    outline: none;
}


/*/////////////////////////////////////// Login Page Styles ///////////////////////////// bottom///*/


/*/////////////////////////////////////// Emp Dashboard Styles ///////////////////////////// top///*/


/*/////////////////////////////////////// Emp Dashboard Styles /////////////////////////// bottom///*/


/*/////////////////////////////////////// Stud Dashboard Styles ///////////////////////////// top///*/


/*/////////////////////////////////////// Stud Dashboard Styles /////////////////////////// bottom///*/


/*/////////////////////////////////////// Dynamic Element Styles ///////////////////////////// top///*/


/*/////////////////////////////////////// Internal Pane Styles ///////////////////////////// top///*/

.InternalPaneContainer {
    /* width: 300px;
    height: 400px;*/
    position: relative;
    border: 0.5mm solid;
    border-radius: 1px;
    float: left;
}

.InternalPaneTabBar {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid;
    background: pink;
}

.InternalPaneTabBar>label {
    margin-left: 5px;
    margin-top: 2px;
}

.TabBarClose {
    float: right;
    margin: 2.75px 5px 0px 0px;
}

.TabBarClose>i {
    font-size: 15px !important;
}

.InternalPaneBody {
    width: 100%;
    /*height: 374px;*/
    background: rgba(255, 134, 189, 0.6);
}


/*/////////////////////////////////////// Internal Pane Styles /////////////////////////// bottom///*/


/*/////////////////////////////////////// Enquiry Pane Styles ///////////////////////////// top///*/

.StudUpdaterWrapper {
    float: left;
    width: 35%;
    height: 100%;
}

.StudSearchContainer {
    width: 100%;
    height: 7%;
}

.StudSearchContainer>input,
.StudSearchContainer>button {
    float: left;
    margin-left: 2mm;
    margin-top: 1.5mm;
    height: 75%;
    border: 1px solid;
    border-radius: 2px;
    background: 'ghostwhite';
}

.StudSearchContainer>input {
    font-size: 16px;
    width: 75%;
    padding: 0mm 2.5mm;
}

.StudSearchContainer>button {
    width: 15%;
}

.StudSearchContainer>button>i {
    font-size: 18px;
    line-height: 18px;
}

.StudUpdaterContainer {
    width: 100%;
    height: 78%;
    padding: 10mm 0mm;
}

.Enq-Sud-Table {
    float: left;
    width: 100%;
    height: auto;
}

.Enq-Stud-Table>tr>td>input[type=text] {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 0mm 0mm 0mm 10mm;
    font-size: 18px;
    margin-bottom: 4mm;
}

.Enq-Stud-Table>tr>td>input:focus {
    outline: none;
}

#updateStud {
    float: right;
    margin-right: 2mm;
    border: 1px solid;
    border-radius: 2px;
    background: 'ghostwhite';
    padding: 1mm;
}

.EnquiryViewWrapper {
    float: left;
    width: 64.65%;
    height: 100%;
    border-left: 0.5mm solid;
}

.EnquirySearchContainer {
    width: 100%;
    height: 7%;
}

.EnquiryViewContainer {
    border-top: 0.5mm solid;
    width: 100%;
}

#SearchEnquiry,
#SearchEnqBtn {
    float: left;
    margin-left: 2mm;
    margin-top: 1.5mm;
    height: 75%;
    border: 1px solid;
    border-radius: 2px;
    background: 'ghostwhite';
}

#SearchEnquiry {
    width: 40%;
}

#SearchEnqBtn {
    width: 10%;
    font-size: 20px;
    line-height: 20px;
}

.EnquiryContainer {
    width: 99%;
    height: solid;
    padding: 2mm 1mm;
    border-bottom: 0.5mm solid;
    font-size: 14px;
}

#query{
    height: 16px;
    overflow: hidden;
    cursor: pointer;
}

#subject {}

#Qsender {}

#Qdate {
    float: right;
    margin-top: -16px;
    margin-right: 2mm;
}

#Qfile {
    cursor: pointer;
}


/*/////////////////////////////////////// Enquiry Pane Styles ////////////////////////// bottom///*/


/*/////////////////////////////////////// Dynamic Element Styles /////////////////////////// bottom///*/