<html>
    <head>
        <% include partials/head.ejs %>
    </head>

    <% include partials/empHeader.ejs %>

    <body>
        <main class="main-view">
            
        </main>
    </body>
</html>