<html>
    <head>
        <% include partials/head.ejs %>
    </head>

    <% include partials/empHeader.ejs %>

    <body>
        <main class="main-view">
        <ul class="user-info-container">
            <li><%=data.fname%> <%=data.lname%></li>
            <li>ID #: <%=data.ID%></li>
            <li>Email: <%=data.email%></li>
            <li><button>Edit Profile</button></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
           
            
        </main>
    </body>
</html>