<html>
    <head>
        <% include partials/head.ejs %>
    </head>

    <% include partials/empHeader.ejs %>

    <body>
        <main class="main-view">
            <h2><%=data.fname%> <%=data.lname%></h2>
            <h3><%=data.ID%></h3>
            <h3><%=data.email%></h3>
        </main>
    </body>
</html>