<html>
    <head>
        <% include partials/head.ejs %>
    </head>

  
        <% include partials/loginHeader.ejs %>

    <body>
        <main class="main-view">
            <form class="loginForm">
                <label> Login</label>
                <table>
                    <tr><td><label for="uname">Username</label></td><td><input type="text" name="uname" placeholder="ID No."/></td></tr>
                    <tr><td><label for="pword">Password</label></td><td><input type="password" name="pword" placeholder="password"/></td></tr>
                </table>
                <button>Login</button>   
            </form>
        </main>
    </body>

</html>